{% extends "servicios/corporal/corporal-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/corporal/2.jpg' %}"
                   alt="Depilacion">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">DEPILACION CORPORAL</h1>
<p>Nuestro servicio de depilación corporal también incluye hombres y mujeres así como
todos nuestros servicios en general, siempre realzados con los mejores productos del
mercado y los profesionales capacitados y expertos en la material </p>
<p class="subtitle">Precio varia por zona </p>
<ul>
  <li>DEPILACION COMPLETA (MEDIA PIERNA, AXILA, BIKINI COMPLETO). 100 mil pesos</li>
  <li>MEDIA PIERNA. 35 mil pesos</li>
  <li>PIERNA COMPLETA. 45 mil pesos</li>
  <li>BIKINI</li>
  <li>BIKINI COMPLETO. 35 mil pesos</li>
  <li>BRAZOS. 30 mil pesos</li>
  <li>AXILA</li>
</ul>
{% endblock text %}
