{% extends "servicios/corporal/corporal-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/corporal/depilacion_corporal.jpg' %}"
                   alt="Depilacion">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">DEPILACION CORPORAL</h1>
<p>Nuestro servicio de depilación corporal también incluye hombres y mujeres así como
todos nuestros servicios en general, siempre realzados con los mejores productos del
mercado y los profesionales capacitados y expertos en la material </p>

<h2 class="title">Mujeres</h2>
<ul>
  <li>DEPILACION COMPLETA (incluye bikini medio, media pierna, axila) $ 70.000</li>
  <li>MEDIA PIERNA $ 30.000</li>
  <li>PIERNA COMPLETA $ 40.000</li>
  <li>BIKINI $ 30.000</li>
  <li>BIKINI COMPLETO $ 40.000</li>
  <li>BRAZOS $ 30.000</li>
  <li>AXILA $ 10.000</li>
</ul>
<h2 class="title">Hombres</h2>
<ul>
  <li>DEPILACION COMPLETA (incluye bikini medio, media pierna, axila) $ 110.000</li>
  <li>Pecho $ 35.000</li>
  <li>Espalda $ 35.000</li>
  <li>Axila $ 10.000</li>
  <li>Media pierna $ 35.000</li>
  <li>Pierna completa $ 45.000</li>
  <li>Bikini completo $ 40.000</li>
  <li>Brazos $ 30.000</li>
</ul>
{% endblock text %}
