{% extends "servicios/facial/facial-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/facial/1.jpg' %}"
                   alt="Depilacion">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">ROSTRO COMPLETO CERA</h1>
<p>Incluye todos los nombrados a continuación, nuestra cera en rostro es hipoalergenica, especializada en rostros delicados.</p>
<p class="subtitle">Costo</p>
<p>$ 60 mil pesos incluye diseño de cejas y maquillaje </p>
<ul>
  <li>FRENTE.</li>
  <li>POMULOS.</li>
  <li>PATILLAS.</li>
  <li>BARBILLA.</li>
  <li>BOZO.</li>
  <li>NARIZ INTERNA.</li>
</ul>
{% endblock text %}
