{% load static %}
<footer class="footer">
<div class="container">
  <div class="columns is-variable is-0 is-vcentered">
    <div class="column is-3">
      <img class="image logo-footer" src="{% static 'images/logo_glam.svg' %}"
      alt="Logo" style="max-height: 160px;">
    </div>
    <div class="column is-3">
      <p class="subtitle is-sans-semibold" style="margin-bottom: 0">Modelia</p>
      <ul class="is-sans-regular">
        <li>
          <li>
            <a href="https://www.google.com/maps/@4.6654938,-74.1275231,18z">
              <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
              Carrera 82 #22a -58 piso 2
            </a>
          </li>
          <li>
            <a href="https://wa.me/573505610150?text=Hola,%20buenos%20días%20estoy%20interesado(a)%20en%20contactarlos ">
              <span class="icon">
                <i class="fab fa-whatsapp"></i>
              </span>
              +57 3505610150</a>
          </li>
          <li>
            <a href="tel:+57 3505610150">
              <span class="icon">
                <i class="fas fa-phone"></i>
              </span>
              +57 3505610150</a>
          </li>
          
          <li>
            <a href="mailto:cejasspabogota@gmail.com">
              <span class="icon"><i class="fas fa-envelope"></i></span>
              cejasspabogota@gmail.com</a>
          </li>

      </ul>
    </div>
    <div class="column is-3">
      <p class="subtitle is-sans-semibold" style="margin-bottom: 0">Sede Chicó</p>
      <ul class="is-sans-regular">
        <li>
          <a href="https://www.google.com/maps/@4.664934,-74.0579974,18.87z">
          <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
          Carrera 15 #78-02 Locales 202-203
          </a>
        </li>
        <li>
        <a href="https://wa.me/573505610150?text=Hola,%20buenos%20días%20estoy%20interesado(a)%20en%20contactarlos">
          <span class="icon">
            <i class="fab fa-whatsapp"></i>
          </span>
          +57 3505610150</a>
        </li>
        <li>
          <a href="tel:+57 3505610150">
          <span class="icon">
            <i class="fas fa-phone"></i>
          </span>
          +57 3505610150</a>
        </li>
        
        <li>
          <a href="mailto:cejasspabogota@gmail.com">
            <span class="icon"><i class="fas fa-envelope"></i></span>
            cejasspabogota@gmail.com</a>
        </li>
        
      </ul>
    </div>

    <div class="column is-3">
      <p class="subtitle is-sans-semibold" style="margin-bottom: 0">Sede Restrepo</p>
      <ul class="is-sans-regular">
        <li>
          <a href="https://www.google.com/maps/@4.5874918,-74.1061863,17z">
            <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
            Carrera 24 #16-39 Sur Piso 2
          </a>
        </li>
        <li>
          <a href="https://wa.me/573505610150?text=Hola,%20buenos%20días%20estoy%20interesado(a)%20en%20contactarlos ">
            <span class="icon">
              <i class="fab fa-whatsapp"></i>
            </span>
            + 57 3505610150</a>
        </li>
        <li>
          <a href="tel:+573505610150">
            <span class="icon">
              <i class="fas fa-phone"></i>
            </span>
            + 57 3505610150</a>
        </li>
        <li>
          <a href="mailto:cejasspabogota@gmail.com">
            <span class="icon"><i class="fas fa-envelope"></i></span>
            cejasspabogota@gmail.com</a>
        </li>
        
      </ul>
    </div>
  </div>

  <div class="columns is-variable is-0 is-vcentered">
    <div class="column" style="text-align: center;">
      <ul class="is-size-4 is-sans-semibold">
        <li>
          <a href="https://facebook.com/glamspabogota">
            <span class="icon" style="vertical-align: sub;">
              <i class="fab fa-facebook"></i>
            </span>
            @GlamSpaBogota
          </a>
        </li>
        <li>
          <a href="https://instagram.com/glamspabogota">
            <span class="icon" style="vertical-align: sub;">
              <i class="fab fa-instagram"></i>
            </span>
            @GlamSpaBogota
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
<footer class="footer-copyright">
  <div class="container is-size-6">
    <div class="columns is-multiline is-vcentered">
      <div class="column is-7">
        <p class="has-text-white"> Politicas de privacidad y tratamiento de
          datos personales <br> © {% now "Y" %} Glam Spa. Todos los derechos reservados <br> Prohibida la copia, reproducción parcial o total de los contenidos </p>
      </div>
      <div class="column">
        <p class="has-text-white">Desarrollado por</p> <img
        src="/static/images/promedios.png" class="is-inline logo-footer" style="max-width: 150px;">
        <a
          href="https://wa.me/573175223987?text=Buen%20&#10;día,%20quisiera%20más%20información%20&#10;sobre%20sus%20productos.%20Gracias"
          target="_blank"><img src="/static/images/iconos/wp_b.svg" class="image is-32x32 is-inline"></a>
        <a href="tel:3158394620" target="_blank"><img src="/static/images/iconos/tl_b.svg" class="image is-32x32 is-inline"></a>
        <a href="mailto:comercial@promediosdigitales.com" target="_blank"><img
                                                          src="/static/images/iconos/ml_2.svg" class="image is-32x32 is-inline"></a>
      </div>
    </div>
  </div>
</footer>

