{% extends "servicios/cejas/cejas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/cejas/borrado_cejas.jpg' %}"
                   alt="Cejas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">BORRADO DE TATUAJES EN CEJAS </h1>
<p>Tratamiento mediante el cual se realizara borrado de tratamientos anteriores como
tatuajes y micropigmentaciones, para así poder llegar a un nuevo tratamiento adecuado en las cejas y corregir los diseños mal logrados anteriormente o simplemente
desaparecer los pigmentos no deseados en las zona de las cejas.
Los tratamientos se realizan en sesiones que duran aproximadamente 40 minutos,
con dermógrafo y soluciones adecuadas para extraer los pigmentos. </p>
<p class="subtitle">Precio</p>
<p>
Nuestro paquetes de borrado inician desde 350 mil pesos con dos sesiones, los
profesionales consideraran en las asesorías previas si se llegan a necesitar mas de
dos sesiones 
</p>
{% endblock text %}
