{% extends "servicios/cejas/cejas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/cejas/1.jpg' %}"
                   alt="Cejas">
{% endblock image %}

{% block text %}
<h1 class="title is-sans-semibold" style="margin-top: 1em;">DISEÑO DE CEJAS CON CERA</h1>
<ol class="has-text-justified is-sans-regular">
  <li>Asesoría en diseño</li>
  <li>Depilación con cera</li>
  <li>Maquillaje con pigmento orgánico ( no es HENNA), el cual fortalecerá tu vello
natural y te dará un efecto sombreado desde 5 días hasta 12 días según el pH de tu
piel y tiempo de secado, pieles grasas menor duración, pieles secas mayor duración,
no utilizamos colores negros, nuestro pigmento te entrega un color castaño según tu
necesidad y gusto desde claro hasta oscuro.</li>
</ol>
<p class="subtitle is-sans-regular">Costo</p>

<p class="is-sans-regular">
Sede Chicó<br>
25.000 mil pesos<br>
El costo no varía si no desea el maquillaje
</p>

<p class="is-sans-regular">
Sede Modelia y Restrepo<br>
20.000 mil pesos sin maquillaje<br>
25.000 mil pesos con maquillaje<br>
</p>
{% endblock text %}
