{% extends "servicios/cejas/cejas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/cejas/cejas_compactas.jpg' %}"
                   alt="Cejas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">CEJAS COMPACTAS</h1>
<p>Tratamiento de maquillaje permanente recomendado en cejas ya tratadas
con procedimientos anteriores, este es un procedimiento de sombreado
compacto que te hará lucir las cejas siempre maquilladas sin necesidad de
sombras u otros elementos de maquillaje, dentro de la sesión de cejas
compactas siempre se harán correcciones de color de tratamientos
anteriores y mejoramiento de diseño según la simetría de las cejas, si se
necesita llegar a otro procedimiento de corrección o borrado por diseños
mal logrados anteriormente se debe considerar otro tipo de tratamiento.</p>
<p>Dentro del tratamiento se contemplan dos sesiones las cuales están
divididas por espacio de atención y cicatrización de 45 días, siempre será
necesaria una segunda sesión o retoque.</p>
<p class="subtitle">Precio</p>
<p>Primera sesión 300 mil pesos<br>
Segunda sesión 50 mil pesos </p>
{% endblock text %}

