{% extends "servicios/cejas/cejas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/cejas/8.jpg' %}"
                   alt="Cejas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">CORRECCIÓN TATUAJES EN CEJAS </h1>
<p>Tratamiento en el cual, los profesionales considerarán dando indicaciones de tiempo
y presupuesto a la persona que desee realizar un mejoramiento en su cejas por tratamientos de tatuaje con colores no deseados o micropigmetación con resultados no
esperados, dando así recomendaciones de los diferentes tratamientos de corrección
disponibles en nuestro sitio.</p>
<p class="subtitle">Precio</p>
<p>
  Desde $ 350 mil Pesos
</p>
{% endblock text %}


