{% extends "servicios/cejas/cejas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/cejas/efecto_polvo.jpg' %}"
                   alt="Cejas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">EFECTO POLVO</h1>
<p>Tratamiento en el cual, los profesionales darán un efecto tenue, elegante,
maquillado, en degradé, similar al efecto del pigmento temporal pero en
micropigmentación.</p>
<p>Dentro del tratamiento se contemplan dos sesiones las cuales están
divididas por espacio de atención y cicatrización, 45 días, siempre será
necesaria una segunda sesión o retoque. </p>
<p class="subtitle">Precio</p>
<p>Primera sesión 300 mil pesos<br>
Segunda sesión 50 mil pesos </p>
{% endblock text %}

