{% extends "servicios/cejas/cejas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/cejas/cejas_laminado.jpg' %}"
                   alt="Cejas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">LAMINADO DE CEJAS  </h1>
<p>Procedimiento especial para personas con cejas rebeldes, técnicas rusa
semipermanente que alisa y fija las cejas en la forma perfecta para ti,
incluye maquillaje semipermanente con pigmento orgánico y su duración
es de 30 a 45 días. </p>
<p class="subtitle">Costo</p>
<p>125 mil pesos</p>
{% endblock text %}
