{% extends "servicios/cejas/cejas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/cejas/mapa_cejas.jpg' %}"
                   alt="Cejas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">MAPA DE CEJAS (CERA O HILO)</h1>
<p>Diseño de cejas incluye:</p>
<p>Díseño realizado con hilos para trazar la depilación, con el cual , tendrás una guía
para el resultado de tu depilación de cejas según la técnica que escojas, cera o hilo,
recuerda que este diseño se realiza sobre lo que se tiene ya que no se pueden modificar alturas, colas u otros.
<br>Incluye:
</p>
<ol>
  <li>Diseño en piel con medidas exactas </li>
  <li>Asesoría en diseño para depilación sobre las medidas propuestas</li>
  <li>Depilación cera o hilo </li>
  <li>Maquillaje con pigmento orgánico ( no es HENNA), el cual fortalecerá tu
vello natural y te dará un efecto sombreado hasta 8 días según el tipo de
piel, pieles grasas menor duración, pieles secas mayor duración, no utilizamos colores negros, nuestro pigmento te entrega un color castaño según
tu necesidad y gusto desde claro hasta oscuro.</li>
</ol>
<p class="subtitle">Costo</p>
<p>Cera: 45 mil pesos. Hilo: 55 mil pesos</p>
{% endblock text %}
