{% extends "servicios/cejas/cejas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/cejas/microblading.jpg' %}"
                   alt="Cejas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">MICROBLADING</h1>
<p>
El tratamiento de microblading es un procedimiento mediante el cual,
simulamos el vello de tu ceja para que luzca natural y al mismo tiempo
maquillada, este tratamiento sirve para rellenar espacios, dar un mejor
aspecto a la ceja acorde a tu rostro, modificar las cejas según la altura de
estas o simplemente poner cejas donde no las hay.
Dentro del tratamiento se contemplan dos sesiones las cuales están divididas por espacio de atención y cicatrización de 45 días, en un 30% de los
casos una sola sesión es suficiente.
</p>
<p class="subtitle">Precio</p>
<p>
  Primera sesión 300 mil pesos <br>
  Segunda sesión 50 mil pesos<br>
TOTAL 350 mil pesos
</p>
{% endblock text %}

