{% extends "servicios/cejas/cejas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/cejas/microshading.jpg' %}"
                   alt="Cejas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">MICROSHADING</h1>
<p>El tratamiento de microshading es un procedimiento mediante el cual,
combinamos dos técnicas microblading (cejas pelo a pelo ) y sombreado
haciendo lucir tus cejas siempre maquilladas, este tratamiento sirve para
rellenar espacios, dar un mejor aspecto a la ceja acorde a tu rostro,
modificar las cejas según la altura de estas o simplemente poner cejas
donde no las hay.
Dentro del tratamiento se contemplan dos sesiones las cuales están
divididas por espacio de atención y cicatrización de 45 días, siempre será
necesaria una segunda sesión o retoque. </p>
<p class="subtitle">Costo</p>
<p>Primera sesión 300 mil pesos<br>
Segunda sesión 150 mil pesos</p>
{% endblock text %}

