{% extends "servicios/cejas/cejas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/cejas/micropigmentacion.jpg' %}"
                   alt="Cejas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">MICROPIGMENTACIÓN</h1>
<p class="has-text-justified">Este servicio abarca en general las técnicas que se pueden utilizar en las cejas de maquillaje permanente, es mas una asesoría donde podrás escoger los diferentes tipos
de micropigmentación en cejas (microblading, microshading, cejas compactas,
correcciones, borrados , entre otros)</p>
<h1 class="title">INFORMACIÓN IMPORTANTE DE
MICROPIGMENTACIÓN EN TODAS SUS TECNICAS </h1>
<ol>
  <li>Si viajas a Colombia para realizarte tratamientos de belleza o resides en el país
recuerda que si deseas hacerte procedimiento de botox debes primero realizar micropigmentación y esperar un mes para realizarte botox o en caso de ya haberte realizado tratamiento de botox debes esperar 4 meses para realizarte tratamientos de micropigmentación por interacciones en los componente</li>
  <li> No consumir cafeína, ni AINES (ibuprofeno o diclofenac), ASA (Aspirina 100) u
omega 3, 48 horas antes del tratamiento, ya que estos interactuan tanto en coagulación como en procesos naturales de inflamación que no deben ser interrumpidos. </li>
  <li>La duración del tratamiento la da tu pH en piel, hábitos de vida, alimentación,
entre otros, pero promediando en pieles grasas tiene duración de 6 a 9 meses en
pieles mixtas un año y medio y en pieles secas hasta tres años, esto se refiere a tratamiento sin refrescamientos de color ya que deberás periódicamente subir tonos o desaparecerá el tratamiento por completo de tu rostro</li>
</ol>
<p>Es necesario agendar cita ya que la sesión tiene una duración aproximada de 2 horas
o más, por este medio puedes solicitarla cuando desees.</p>
{% endblock text %}


