{% extends "servicios/cejas/cejas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/cejas/valoracion_micropigmentacion.jpg' %}"
                   alt="Cejas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">VALORACIÓN MICROPIGMENTACIÓN</h1>
<p>Servicio donde los profesionales del área te asesorarán en los diferentes tipos de
micropigmentación y la conveniencia para tí, según la situación de salud, tipo de
rostro, color de piel, etc. </p>
<p class="subtitle">Costo</p>
<p>
  Valor 30.000 (descontables si toma alguno de los procedimientos de micropigmetación.
</p>
{% endblock text %}

