{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<div class="section">
  <div class="container content">
    <div class="columns">
      <div class="column">
        <p class="title is-futura-medium">Uñas</p>
        <p class="subtitle is-futura-medium">Manicure semipermanente</p>
	<p class="has-text-justified is-futura-light">Cuenta con tres días de garantía por aplicación, no 
	cubre golpes, humedad , daños externos causados por el cliente.</p> 
	<p class="subtitle is-futura-medium">Uñas acrílicas</p>
        <p class="has-text-justified is-futura-light">Cuenta con siete días de garantía por aplicación, no
        cubre golpes, humedad , daños externos causados por el cliente.</p>
	<p class="subtitle is-futura-medium">Recubrimiento acrílico</p>
	<p class="has-text-justified is-futura-light">Cuenta con siete días de garantía por aplicación, no
        cubre golpes, humedad , daños externos causados por el cliente.</p>
        <p class="subtitle is-futura-medium">Uñas tech gel</p> 
        <p class="has-text-justified is-futura-light">Cuenta con siete días de garantía por aplicación, no 
	cubre golpes, humedad , daños externos causados por el cliente.</p> 
	<hr>
	<p class="title is-futura-medium">Cejas</p>
	<p class="subtitle is-futura-medium">Diseño de cejas y maquillaje</p> 
        <p class="has-text-justified is-futura-light">Los diseños de cejas son tiempos estimados del maquillaje 
	dependen de la piel bien sea grasa o seca su durabilidad, también condiciones de desmaquillarse y 
	aplicaciones de cremas u otros elementos externos que puedan afectar la durabilidad del pigmento orgánico 
	(no cuentan con una garantía de tiempo por las condiciones mencionadas anteriormente)</p>                                                                          
	<p class="subtitle is-futura-medium">Micropigmentación en todas sus técnicas</p>                                                   
	<p class="has-text-justified is-futura-light">La garantía se brinda con los resultados de la segunda 
	sesión, en este caso se evalúan diferentes aspectos como tipo de piel, medicamentos , patologías de base, 
	entre otros, la coloración no es tiempo exacto para todas las personas, nuestra garantía se basa en nuestro 
	pigmentos avalados por INVIMA y profesionales certificados.</p> 
	<p class="subtitle is-futura-medium">Laminado de cejas</p>         
	<p class="has-text-justified is-futura-light">Garantía de 6 días por aplicación, las asesorías en nuestros 
	sitios te darán los lineamientos para la durabilidad deseada en tiempo.</p>        
	<hr>
	<p class="title is-futura-medium">Pestañas</p>
	<p class="subtitle is-futura-medium">Lifting de pestañas</p>
        <p class="has-text-justified is-futura-light">Garantía de 3 días por aplicación, las asesorías en nuestros 
	sitios te darán los lineamientos para la durabilidad deseada en tiempo.</p>
	<p class="subtitle is-futura-medium">Extensión de pestañas</p>
	<p class="has-text-justified is-futura-light">Garantía de 3 días por aplicación, las asesorías en nuestros 
	sitios te darán los lineamientos para la durabilidad deseada en tiempo.</p>
	<p class="subtitle is-futura-medium">Retoque de pestañas</p>
	<p class="has-text-justified is-futura-light">Garantía de 3 días por aplicación, las asesorías en nuestros 
	sitios te darán los lineamientos para la durabilidad deseada en tiempo. Recuerda que los retoques inician 
	a los 8 días de aplicadas las pestañas hasta máximo 20 días</p>
	<hr>
	<p class="title is-futura-medium">Otros</p>
	<p class="has-text-justified is-futura-light">Los servicios no contemplados en las secciones anteriores 
	no cuentan con garantía real ya que se trata de servicios de cuidado, pues, GLAM SPA BOGOTA, cumple con 
	los estándares de servicios en belleza  y  garantiza a todos sus clientes y acompañantes la mejor 
	experiencia en el gremio.</p>  
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</div>
{% endblock content %}
