{% extends "servicios/pedicure/spa-pies-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pedicure/aromaterapia.jpg' %}"
                   alt="Pedicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">AROMATERAPIA</h1>
<p>Aprovecha nuestro plus exclusivo en tu manicure o pedicure, con aromas frutales,
medicinales y demás, que te harán sentir un servicio diferente al tradicional,
tenemos mas de 20 fragancias para consentir tus manos y pies. </p>
{% endblock text %}
