{% extends "servicios/pedicure/pedicure-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pedicure/9.jpg' %}"
                   alt="Pedicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">BOMBA SALES MINERALES NATURALES
(DESINTOXICACIÓN Y SUAVIDAD)</h1>
<p>Servicio de sales efervescentes para desintoxicar e hidratar tus pies, dándoles una
sensación de salud y desestresando a nivel general</p>
<p class="subtitle">Costos</p>
<p>25 mil pesos</p>
{% endblock text %}

