{% extends "servicios/pedicure/pedicure-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pedicure/7.jpg' %}"
                   alt="Pedicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">DESINTOXICACION IONICA DETOX </h1>
<p>Es una terapia de desintoxicación general de tu cuerpo que se realiza por medio de
los pies en sumersión en sal y un equipo especial.
¿Cómo funciona la terapia?</p>
<p>Debido a la contaminación del aire, agua y alimentos, entre otros factores
provocados por el estilo de vida moderno, acumulamos iones positivos o “cationes”
en nuestro cuerpo, cuya acumulación excesiva se convierte en toxinas.
La terapia de desintoxicación iónica trabaja a nivel electrolítico, llevando a cabo un
proceso llamado “ionización”, mediante el cual se rompen las moléculas del agua
que se encuentra en la tina en donde están los pies, separándolas en miles de iones
negativos.</p>
<p>“Por ósmosis una gran cantidad de aniones (iones negativos), penetran las diferentes
membranas del cuerpo y al encontrarse con iones positivos, es decir, con toxinas
adheridas a los diferentes tejidos corporales (piel, órganos...), la carga negativa de
los aniones neutraliza la carga positiva de las toxinas o cationes”, dice.</p>
<p>El cuerpo, al reconocer el proceso de desintoxicación a que está siendo sometido,
coopera incrementando el metabolismo, acelerando la actividad celular, segregando
varias clases de enzimas y apresurando la función de eliminación de los diferentes
órganos excretorios, particularmente del hígado, riñones, piel, plantas de los pies y la
respiración.</p>
<h1 class="title" style="">Colores del agua y las enfermedades </h1>
<p>Sobre el color del agua , la espuma blanca indica circulación inadecuada en el
sistema linfático; partículas blancas como queso, indica hongos o infección por
fermentación, mientras que las partículas negras indican que hay metales químicos
en el cuerpo, las rojas que hay toxinas en la sangre, el color café, contaminación
en hígado o por tabaco y el naranja problemas en las articulaciones. El verde es
por toxinas en la vesícula biliar; el amarillo desintoxicación de riñones, vejiga,
sistema urinario y otras.</p>
<p class="subtitle">Costos</p>
<p>25 mil pesos</p>
{% endblock text %}

