{% extends "servicios/pedicure/spa-pies-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pedicure/parafina.jpg' %}"
                   alt="Pedicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">PARAFINA</h1>
<p>La termoterapia a base de Parafina humecta las capas profundas de la piel 
ayudando así a hidratar, alimentar y rejuvenecer la piel. Es rica en carotenos. Tiene
importantes propiedades anti radicales libres. Es un tratamiento ideal para pieles
maduras y deshidratadas. La piel se siente más saludable.</p>
<h1 class="title" style="">Beneficios del Tratamiento con Parafina</h1>
<ul>
  <li>Hidratación profunda del área de la piel</li>
  <li>Retención de la humedad en las capas internas de la piel permitiendo hidratar y
nutrir la piel.</li>
  <li>Incremento del flujo sanguíneo producto del aumento de la temperatura,
movilizando los nutrientes en las capas más internas de la piel y de las capas
más superficiales.</li>
</ul>
<p class="subtitle">Costos</p>
<p>25 mil pesos</p>
{% endblock text %}
