{% extends "servicios/pedicure/pedicure-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pedicure/pedicure_tradicional.jpg' %}"
                   alt="Pedicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">PEDICURE TRADICIONAL </h1>
<p>Pedicure tradicional orgánico con productos BELIER, libres de parabenos,
formaldehído y en general de químicos dañinos.</p>
<p>Nuestro pedicure incluye sesión completa con equipos reutilizables esterilizados (corta cutícula y repujador) , sellados para su protección y desechables
no reutilizables que se descartaran después de su atención ( limas, palos de
naranjo, entre otros), exfoliación, masaje, maquillaje con los productos escogidos y veloterapia y lima callos de uso personal que será entregado al finalizar el trabajo.</p>

<p class="subtitle">Costo</p>
<ol>
  <li>25.000 pesos (Sede Chico)<br>
    20.000 pesos (Sede Modelia y Restrepo)
  </li>
  <li>Con belier te obsequiamos SPA DE AROMATERAPIA con diferentes fragancias. </li>
</ol>

{% endblock text %}
