{% extends "servicios/pedicure/pedicure-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pedicure/8.jpg' %}"
                   alt="Pedicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">PEDILUVIO DE GEL </h1>
<p>Servicio mediante el cual agregamos un sobre en polvo convirtiéndose en gel para
generar relajamiento en tus pies, además, hidratación profunda y una sensación
única de descanso.</p>
<p class="subtitle">Costos</p>
<p>30 mil pesos</p>
{% endblock text %}

