{% extends "servicios/pedicure/spa-pies-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pedicure/4.jpg' %}"
                   alt="Pedicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">VITAMINA E</h1>
<p>La vitamina E muestra unos resultados espectaculares para la piel, pues consigue,
entre otras cosas, difuminar las cicatrices, eliminar los pequeños granitos e
imperfecciones y una barrera natural para proteger la piel de los rayos solares. Esta
vitamina también es un antioxidante que protege las células. Para mantener una
piel saludable, recuerda nutrirla con vitamina E.</p>
<ul>
  <li> La vitamina E tiene un potente efecto antienvejecimiento en la piel. Es un aliado
perfecto para tratar las manchas del rostro causadas por el paso de los años.</li>
  <li> Protege tu piel contra los rayos UVB, la contaminación y agentes externos que
dañan la piel.</li>
  <li> Es muy recomendable usarla sobre cicatrices y quemaduras (incluso las
producidas por el sol), ya que notarás como la marca se va difuminando hasta casi
su eliminación. </li>
</ul>
<p class="subtitle">Costos</p>
<p>30 mil pesos</p>
{% endblock text %}

