{% extends "servicios/pestanas/pestanas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pestanas/pestanas_extencion_clasica_pestanina.jpg' %}"
                   alt="Pestanas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">EXTENSIÓN CLASICA EFECTO PESTAÑINA </h1>
<p>Con pestañas clásicas tus pestañas siempre lucirán maquilladas y naturales, los grosores utilizados siempre serán 0.15 para que tu pestaña este saludable y no sufra desprendimientos prematuros</p>
<p class="subtitle">Costo de Montaje</p>
<p>
  130 mil pesos
</p>
<p class="subtitle">Costo de Mantenimiento</p>
<p>
  55 mil pesos
</p>
<p>Cada 20 dias máximo</p>
{% endblock text %}
