{% extends "servicios/pestanas/pestanas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pestanas/extencion_de_pestanas.jpg' %}"
                   alt="Pestanas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">EXTENSIÓN DE PESTAÑAS</h1>
<p>Información general de extensión de pestañas </p>
<p>El montaje del sistema dura aproximadamente una hora y media, los
mantenimientos los realizas cada 20 días máximo, si se llegase a pasar el
tiempo, el profesional considerara según el estado del sistema si se debe
cobrar un nuevo sistema o precios adicionales a los retoques</p>
<p>Nuestros sistemas están hecho para durar máximo 5 meses por higiene,
después de este tiempo es recomendado dejas descansar las pestañas por
espacio de mínimo 20 días. </p>
<p>Las sesiones de montaje de extensión de pestañas duran aproximadamente
1 hora 30 minutos con lo cual, debes contar con el tiempo para el
procedimiento </p>
{% endblock text %}
