{% extends "servicios/pestanas/pestanas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pestanas/pestanas_extencion_tipo_seda.jpg' %}"
                   alt="Pestanas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">EXTENSIÓN TIPO SEDA</h1>
<p>Tipo seda son abundantes pero siempre lucirán naturales pues son delgadas y muy
ligeras, los grosores utilizados en este tipo de pestañas siempre serán 0.07 o 0.10
según consideré el profesional de tu necesidad y asesoría según tu morfología en ojos
y rostro. </p>
<p class="subtitle">Costo de Montaje</p>
<p>
  150 mil pesos
</p>
<p class="subtitle">Costo de Mantenimiento</p>
<p>
  60 mil pesos máximo cada 20 días
</p>
{% endblock text %}
