{% extends "servicios/pestanas/pestanas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pestanas/pestanas_lifting.jpg' %}"
                   alt="Pestanas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">LIFTING DE PESTAÑAS</h1>
<p>Es un realce que se realiza en tu pestaña natural, el cual, la hace lucir más
larga y abundante, a diferencia de los tradicionales encrespados de pestañas
que las hace ver cortas por la forma de los onduladores utilizados, en este
caso se aplican productos para hacerlas ver realzadas hasta por tres meses
donde podrás maquillar y desmaquillar con tranquilidad. La durabilidad
también depende de la calidad de tu pestaña y los cuidado que tengas con el
procedimiento, si son muy lisas o expones a vapores frecuentes, piscinas
entre otros, disminuirá su durabilidad</p>
<p>Si cuidas de todas esas exposiciones durará más tiempo, los cuidados son
básicos y muy fáciles las primeras 24 horas, solo debes protegerlas de no
mojarlas y listo! Puedes maquillar y desmaquillar normalmente.</p>
<p>El procedimiento demora una hora aproximadamente. </p>
<p class="subtitle">Costo</p>
<p>$ 110 mil pesos</p>
{% endblock text %}
