{% extends "servicios/pestanas/pestanas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pestanas/punto_punto.jpg' %}"
                   alt="Pestanas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">PESTAÑAS PUNTO A PUNTO </h1>
<p>Pestañas con duración hasta de 8 días, colocadas cuidadosamente por nuestras
  profesionales con pegamentos especiales que no dañan la pestaña, podrás
  retirar fácilmente cuando desees solo con agua micelar o tu desmaquillante
tradicional.</p>
<p></p>
<p class="subtitle">Costo</p>
<p>
  Precio 35 mil pesos
</p>
<p>El procedimiento dura aproximadamente 20 minutos </p>
{% endblock text %}
