{% extends "servicios/pestanas/pestanas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pestanas/pestanas_retiro.jpg' %}"
                   alt="Pestanas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">RETIRO DE EXTENSIÓN DE PESTAÑAS </h1>
<p>Puedes retirar los sistemas de otros sitios ajenos al nuestro o simplemente cuando
no desees tener mas el sistema o haya cumplido ciclo de vida.
Valor retiro sistema externo sin montaje de uno nuevo: 20 mil pesos<br>
Valor retiro sistema propio sin montaje posterior : 20 mil pesos<br>
Valor retiro externo o propio y montaje posterior: GRATIS </p>
{% endblock text %}
