{% extends "servicios/pestanas/pestanas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pestanas/pestanas_retoque.jpg' %}"
                   alt="Pestanas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">RETOQUE DE PESTAÑAS </h1>
<p>Los retoques en cualquiera de nuestro sistema siempre son considerados hasta los 20
días, te proporcionaremos una cartilla de cuidado en la cual, podrás consultar la
fecha tentativa para agendar tu cita, los precios varían según tipo de sistema elegid</p>
<h2 class="title">RETOQUE EXTENSION PESTAÑAS CLASICAS</h2>
<p>Precio antes de 10 días 25 mil pesos<br>
  Precio antes de los 15 días 35 mil pesos<br>
Precio de 20 días 55 mil pesos</p>
<h2 class="title">RETOQUE TIPO SEDA</h2>
<p>
  Precio antes de 10 días 30 mil pesos<br>
  Precio antes de los 15 días 40 mil pesos<br>
Precio de 20 días 60 mil pesos
</p>
<h2 class="title">RETOQUE VOLUMEN RUSO</h2>
<p>Precio antes de 10 días 35 mil pesos<br>
  Precio antes de los 15 días 45 mil pesos<br>
Precio de 20 días 75 mil pesos</p>
{% endblock text %}
