{% extends "servicios/pestanas/pestanas-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/pestanas/pestanas_volumen_ruso.jpg' %}"
                   alt="Pestanas">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">VOLUMEN RUSO</h1>
<p>Volumen ruso siempre se realizará en diferentes espesores desde 3D hasta 6D, según
criterio del profesional y asesoría a conveniencia y disponibilidad de inventario, estas
lucirán abundantes y maquilladas siempre. Los grosores utilizadas en nuestro volumen es de 0.10 máximo garantizando la salud de pestaña.</p>
<p class="subtitle">Costo de Montaje</p>
<p>
  200 mil pesos
</p>
<p class="subtitle">Costo de Mantenimiento</p>
<p>
  75 mil pesos
</p>
<p>Cada 20 días</p>
{% endblock text %}
