{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/unas_acrilicas_esculpidas.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">UÑAS ACRILICAS ESCULPIDAS </h1>
<p>Esculpidas con materiales organic nails marca pionera y de más alta calidad,
esmaltes orgánicos sin químicos dañinos, el cual te ayudará a regenerar las
uñas débiles, las hará crecer de forma adecuada, evitarás rupturas, tu escoges el acabado deseado.</p>
<h2 class="title">ESMALTADO TRADICIONAL </h2>
<p>Con acabado tradicional belier, tus manos siempre impecables con producto de alta calidad.</p>
<p>Costo 125 mil pesos</p>
<h2 class="title">ESMALTADO SEMIPERMANENTE </h2>
<p>Con acabado semipermanente organic nails el esmalte no se caerá con facilidad ya que tiene 
una duración y adhesión hasta de 25 días, este tipo de esmalte no daña las uñas ni tu 
sistema acrílico si se retira de una forma adecuada y no agresiva.</p>
<p>Costo 165 mil pesos</p>
{% endblock text %}
