{% extends "servicios/manicure/spa-manos-base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/spa_de_manos_chocolaterapia.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">CHOCOLATERAPIA</h1>
<p>Servicio realizado en tu manicure con beneficios excelentes para tus manos
Hidrata, nutre y tonifica la piel rejuveneciéndola, ayuda a eliminar las toxinas y
beneficia la microcirculación cutánea, remineraliza la piel por su alto contenido en
magnesio, potasio y calcio, tiene acción desestresante, también, su alto contenido
en cafeína del chocolate estimula la circulación.
Ayuda a combatir los radicales libres, culpables del envejecimiento de la piel.</p>
<p class="subtitle">Costo</p>
<p>15 mil pesos</p>
{% endblock text %}
