{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/3.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">MANICURE DIPPING POWDER</h1>
<p>Técnica innovadora en nuestro país, se realiza mediante manicure tradicional de
sumersión en agua o manicure ruso, lo innovador de esta técnica son sus esmaltes en
polvo los cuales sumergirás tus uñas en colores hermosos sin esperar secado y lo
mejor de todo tienen duraciones extensas hasta 30 días en tus uñas sin dañarse y sin
necesidad de lámparas UV para el secado.</p>
{% endblock text %}
