{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/1.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">ESMALTADO TRADICIONAL</h1>
<p>Con acabado tradicional masglo o belier tiene un costo de 110 mil pesos, tus manos
siempre impecables con producto de alta calidad. </p>
<p class="subtitle">Costo</p>
<p>110 mil pesos</p>
{% endblock text %}
