{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/mantenimiento_unas_acrilicas.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">MANTENIMIENTOS UÑAS ACRILICAS </h1>
<p>Este servicio se toma en conjunto con sistemas hechos en cualquiera de nuestras dos sedes, si los sistemas son externos la persona debe dirigirse a cualquiera de nuestras sedes y solicitar una asesoría con el profesional para saber si es viable un mantenimiento sobre las uñas externas, los precios varían según los terminados que desees, tradicional o semipermanente.</p>
<p class="subtitle">Costos</p>
<p>Esmaltado tradicional en 70 mil pesos. <br> Esmaltado semipermanente en 90 mil
  pesos</p>
{% endblock text %}
