{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/mantenimiento-unas-tech-gel.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">MANTENIMIENTO UÑAS TECH GEL</h1>
<p>Este servicio se toma en conjunto con sistemas hechos en cualquiera de nuestras tres sedes, si los sistemas 
son externos la persona debe dirigirse a cualquiera de nuestras sedes y solicitar una asesoría con el profesional 
para saber si es viable un mantenimiento sobre uñas realizadas en otro sitio, los precios varían según los terminados 
que desees, tradicional o semipermanente.</p>
<p class="subtitle">Costos</p>
<p>Esmaltado tradicional 70 mil pesos</p>
<p>Esmaltado semipermanente 90 mil pesos</p> 
{% endblock text %}
