{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/puntas_y_estructuras.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">PUNTAS Y ESTRUCTURAS (BABY BOOMER,
ENCAPSULADOS , ETC)</h1>
<p>Servicio realizado dentro de uñas acrílicas esculpidas, con el cual lograras efectos
hermosos en tus uñas, con escarchas, figuras, diseños y demás productos que se
puedan colocar en tus uñas </p>
<p class="subtitle">Precio</p>
<p>Desde 160 mil pesos </p>
{% endblock text %}
