{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/recubrimiento-tech-gel.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">RECUBRIMIENTO TECH GEL</h1>
<p>Este procedimiento incluye manicure completo, es ideal en uñas débiles o delgadas, para evitar que se 
partan, dándoles fortaleza, ayudándoles a crecer sanas dando un grosor adicional imperceptible. </p>
<p class="subtitle">Costos</p>
<p>90 mil pesos con esmaltado tradicional</p>                                                                               
<p>130 mil pesos con esmaltado semipermanente</p> 
{% endblock text %}
