{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/retirado_semipermanente.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">RETIRADO SEMIPERMANENTE</h1>
<p>Servicio de retirado de los esmaltes de cualquiera de las líneas utilizadas en
nuestras sedes, si el retirado es para realizar un nuevo esmaltado semipermanente no tendrá costo alguno, pero si de lo contrario es externo o se
desea cambiar a tradicional tiene un costo de retirado de 10 mil pesos, nuestro retirado no es agresivo ni con maquina, se realiza con productos especializados.</p>
{% endblock text %}
