{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/4.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">MANICURE RUSO</h1>
<p>Manicure realizado en seco con puntas especializadas de pulido con maquinas, ideal
para personas que desean realizarse un manicure más minucioso al manicure tradicional de sumersión en agua. Con esta técnica escogerás si deseas manicure con
maquillado tradicional o semipermanente, los costos varían según el esmaltado realizado </p>
{% endblock text %}
