{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/manicure_semipermanente_color_gel.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">MANICURE SEMIPERMANENTE O COLOR GEL</h1>

<p>Con BELIER marca pionera y de más alta calidad, esmaltes organicos sin químicos dañinos, el cual te ayudará a regenerar las uñas débiles, las hará
crecer de forma adecuada, evitarás rupturas y el esmalte no se caerá con
facilidad ya que tiene una duración y adhesión hasta de 25 dias, este tipo de
esmalte no daña las uñas si se retira de una forma adecuada y no agresiva.</p>

<p class="subtitle has-text-weight-bold">Costo
</p>
<p>$ 50.000 mil pesos</p>
<p>Nuestro manicure incluye sesión completa con equipos reutilizables esterilizados (corta cutícula y repujador) , sellados para tu protección y desechables
no reutilizables que se descartaran después de la atención ( limas, palos de
naranjo, entre otros), exfoliacion, masaje, maquillaje con color escogidos y
veloterapia.</p>
<p>Este precio incluye retiro del próximo montaje en semipermanente, si
deseas retirar semipermanente y hacer manicure tradicional o simplemente
retirar sin manicure tiene un costo de 10.000 pesos. </p>

{% endblock text %}
