{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/manicure_tradicional.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">MANICURE TRADICIONAL </h1>
<p>Manicure tradicional orgánico con productos BELIER, libres de parabenos,
formaldehído y en general de químicos dañinos</p>
<p>Nuestro manicure incluye sesión completa con equipos reutilizables esterilizados (corta cutícula y repujador) , sellados para su protección y desechables
no reutilizables que se descartaran después de su atención ( limas, palos de
naranjo, entre otros), exfoliación, masaje, maquillaje con los productos escogidos y veloterapia.</p>
<p class="subtitle">Costo</p>
<p> 15 Mil pesos</p>
{% endblock text %}
