{% extends "servicios/manicure/base.html" %}
{% load static %}

{% block image %}
<img class="image" src="{% static 'images/servicios/manicure/unas_tips.jpg' %}"
                   alt="Manicure">
{% endblock image %}

{% block text %}
<h1 class="title" style="margin-top: 1em;">UÑAS TIPS </h1>
<p>Servicio de extensión de uñas por medio de uñas postizas en conjunto con
acrílico para fijarlas, ideal para personas que no cuentan con el tiempo suficiente para realzarse un servicio de uñas esculpidas en acrílico, ya que este
servicio se realiza en la mitad del tiempo y por un precio mucho menor a las
uñas acrílicas esculpidas</p>
<p class="subtitle">Costo</p>
<p>Valor : 70 mil pesos </p>
{% endblock text %}
