{% extends "layouts/base.html" %}
{% load static %}

{% block styles %}
 <style>
.content h1.title {
    font-family: 'GothamPro';
}
.content p, .content ul, .content ol {
  font-family: 'OpenSansRegular';
}
.content ul.menu-list {
    list-style: none;
     margin-left: 0; 
     margin-top: 0;
      }
.content p.panel-heading {
  margin-bottom: 0
}
 </style>
{% endblock styles %}
{% block content %}
<swiper :options="swiperOptions" style="height: 100%">
<swiper-slide>
  <img src="{% static 'images/slides/index/slide_1.jpg' %}" alt="Image"
  style="width: 100%; height: 500px" class="image">
</swiper-slide>
<swiper-slide>
  <img src="{% static 'images/slides/index/slide_6.jpg' %}" alt="Image" style="width: 100%; height: 500px" class="image">
</swiper-slide>

</swiper-slide>
</swiper>

<section class="hero has-background-primary" style="">
  <div class="hero-body" style="background: url({% static 'images/corona.svg' %}) no-repeat">
    <div class="container">
      <solicitar-cita></solicitar-cita> 
    </div>
  </div>
</section>
<div class="">
  <div class="columns is-gapless">
    <div class="column has-bg-pink" style="position: relative;">
      <h1 style="font-size: 4.5rem;" class="rotated is-gothampro
        has-text-centered">Seminarios</h1>
    </div>
    <div class="column is-6">

      <img src="{% static 'images/servicios/individual/principal_cejas.jpg' %}"
      alt="Cejas" class="image" style="width: 100%;">
    </div>
    <div class="column has-bg-gradient">

    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="columns content">
      <div class="column">
        <p class="subtitle">Microblading</p>
        <p class="subtitle has-text-weight-bold	">Curso intensivo de tres días:
          </p>
        <p class="subtitle has-text-weight-bold">El primer día aprendes</p>
        <ul>
          <li> Teoría en introducción a la micropigmentación</li>
          <li> Visagismo</li>
          <li> Colorimetria</li>
          <li> Diseño mano alzada y diseño hilo (utilización de aplicación)</li>
          <li> Entrevista previa con paciente, conceptos y protocolo, consentimiento informado,
            entre otros conceptos teóricos </li>
        </ul>
        <p class="subtitle has-text-weight-bold">Segundo dia</p>
        <ul>
          <li>Dibujo en guías</li>
          <li> Practica en piel falsa,</li>
          <li> Utilización de pigmentos</li>
          <li> Alistamiento de sitio, asepsia, bioseguridad, *Práctica en modelo de diseño y
            entrevista rea</li>
        </ul>
        
        <p>Tercer día practica en modelo supervisada por los profesionales la cual debes conseguir para llevar ese día.</p>
      </div>
      <div class="column">
        <nav class="panel panel-1">
          <p class="panel-heading">Escoge un tratamiento</p>
          <div class="panel-block">
            <aside class="menu" style="width: 100%;">
              <ul class="menu-list">
                <li><a href="/seminarios/micropigmentacion-completa">MICROPIGMENTACION COMPLETA</a></li>
                <li><a href="/seminarios/microblading">MICROBLADING</a></li>
                <li><a href="/seminarios/diseno-de-cejas">DISEÑO DE CEJAS </a></li>
                <li><a href="/seminarios/lifting-de-pestanas">LIFTING DE PESTAÑAS</a></li>
              </ul>
            </aside>
          </div>
        </nav>
        <p class="subtitle has-text-weight-bold">Este curso incluye</p>
        <ul>
          <li> 10 agujas</li>
          <li> 10 anillos</li>
          <li> 10 cepillos</li>
          <li> Anestesia piel cerrada</li>
          <li> Calibrador</li>
          <li> Inductor</li>
          <li> Depilador</li>
          <li> Tijeritas</li>
          <li> Lápiz</li>
          <li> Pomis</li>
          <li> Atomizador</li>
          <li> Plantilla</li>
          <li> Almuerzos y Breaks</li>
          <li> Certificado de asistencia</li>
        </ul>

        <p class="subtitle has-text-weight-bold">Puedes apartar tu cupo con el 10%
          <br>Tiene un costo de 1.200.000 mil pesos</p>
        <p class="has-text-justified">El curso es personalizado escoges cinco días acordados con nuestro sitio donde
puedas contar con ocho horas diarias fijas desde las 9 am a 4 pm o corres
horas hasta las 7 pm, siendo máximo 12 m a 7 pm</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
